vti_encoding:SR|utf8-nl
vti_syncwith_localhost\\e\:\\travaux clients\\lentic\\backupsite/e\:/travaux clients/lentic/backupsite:TW|17 Apr 2003 07:29:13 -0000
vti_timelastmodified:TW|17 Apr 2003 07:29:13 -0000
vti_author:SR|2COLT481\\lenticbe
vti_modifiedby:SR|2COLT481\\lenticbe
vti_nexttolasttimemodified:TW|17 Apr 2003 07:29:13 -0000
vti_timecreated:TR|15 Sep 2004 16:56:10 -0000
vti_extenderversion:SR|5.0.2.5012
vti_syncwith_www.coli.net\:80/lentic:TW|17 Apr 2003 07:29:13 -0000
vti_cacheddtm:TX|15 Sep 2004 16:56:10 -0000
vti_filesize:IR|1155
vti_lineageid:SR|{3690F68E-3B9C-46B3-9C49-08675EB79AF7}
vti_backlinkinfo:VX|absoluteig/viewpostcard.asp absoluteig/rateimage.asp absoluteig/galleryupload.asp absoluteig/gallery.asp absoluteig/gallery1.asp absoluteig/sendpostcard.asp absoluteig/mybox.asp
