vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Sep 2004 17:23:18 -0000
vti_author:SR|2COLT481\\lenticbe
vti_modifiedby:SR|2COLT481\\lenticbe
vti_nexttolasttimemodified:TR|13 Sep 2004 14:49:43 -0000
vti_timecreated:TR|15 Sep 2004 16:59:56 -0000
vti_extenderversion:SR|5.0.2.5012
vti_syncwith_www.coli.net\:80/lentic:TR|13 Sep 2004 14:49:43 -0000
vti_parentlineageid:SR|{91077D8F-1EE2-47CD-B3B9-0AAA87471B54}
vti_lineageid:SR|{7D4D05F4-5E43-48E0-86B1-8AA879433228}
vti_cacheddtm:TX|15 Sep 2004 17:23:18 -0000
vti_filesize:IR|792
vti_backlinkinfo:VX|tmp_pres_projets.htm tmp_pres_contact.htm tmp_axes.htm tmp_pres_axes.htm tmp_news.htm tmp_missions.htm tmp_projets_0.htm tmp_pres_missions.htm tmp_pres_equipe.htm tmp_equipe.htm tmp_projets.htm
