<html>
<head>
<title>$$HEADLINE$$</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" rightmargin="0" topmargin="0" link="#FF6600" vlink="#FF6600">
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr>
    <td bgcolor="#CC0000" height="90"> 
      <table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
        <tr>
          <td><img src="template2/logo.gif" width="231" height="36"></td>
          <td width="460"> 
            <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b><i><font color="#FFFFFF">Give 
              Your Content Any Look You Want<br>
              Using Templates</font></i></b></font></div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
          <td width="18" background="template2/verticalbar.gif"><img src="template2/verticalbar.gif" width="18" height="157"></td>
          <td>
            <p>&nbsp;</p>
            <table width="90%" border="0" cellspacing="2" cellpadding="2" align="center">
              <tr align="left" valign="top"> 
                <td colspan="2"><font color="#999999">This is a sample template</font></td>
              </tr>
              <tr align="left" valign="top"> 
                <td> 
                  <p><font face="Tahoma, Verdana, sans-serif" size="4"><b><i>$$HEADLINE$$</i></b></font><font face="Tahoma, Verdana, sans-serif" size="2"><br>
                    $$HEADLINEDATE$$ - $$SOURCE$$</font><br>
                    <font face="Tahoma, Verdana, sans-serif" size="2"><a href="javascript:openppl('ppl.sendarticle.asp?a=$$ARTICLEID$$',0,0,360,240)"><font face="Arial, Helvetica, sans-serif" size="2"><img src="template2/emailbtn.gif" width="101" height="19" border="0" align="absmiddle"></font></a> 
                    <a href="../anmviewer.asp?a=$$ARTICLEID$$&print=yes"><font face="Arial, Helvetica, sans-serif" size="2"><img src="template2/printbtn.gif" width="101" height="19" border="0" align="absmiddle"></font></a> 
                    </font></p>
                  <hr>
                  <p><font face="Tahoma, Verdana, sans-serif" size="2">$$ARTICLE$$<br>
                    </font></p>
                  <p><br>
                  </p>
                </td>
                <td width="200" bgcolor="#F7F7F7"> 
                  <p align="center"><font face="Arial, Helvetica, sans-serif" size="1">$$IMAGES$$</font></p>
                  <p><font face="Tahoma, Verdana, sans-serif" size="2"><b>Related 
                    Articles :</b><br>
                    $$RELATED$$ </font></p>
                </td>
              </tr>
              <tr bgcolor="#666666"> 
                <td colspan="2"></td>
              </tr>
              <tr> 
                <td colspan="2"> 
                  <script language="JavaScript" src="../xlaabsolutenm.asp?z=$$ZONEID$$&h=5&d=h&al=left&font=tahoma&size=1&ss=y&st=y"></script>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#333333" height="60">
      <div align="center"><font color="#FFFFFF" size="1" face="Tahoma, Verdana, sans-serif">This 
        is a Template File. To see this template without being parsed by Absolute 
        News Manager, <a href="template2.htm" target="_blank">click here</a></font></div>
    </td>
  </tr>
</table>
</body>
</html>
