<html>

<head>
<LINK REL=stylesheet HREF="style.css" TYPE="text/css">
	<meta http-equiv="Content-Language" content="fr-be">
<title>Laboratoire d&rsquo;Etudes sur les Nouvelles Technologies, l&rsquo;Innovation et le Changement - LENTIC</title>
<meta name="description" content="Le Lentic est un centre de recherche et d'intervention de l'Université de Liège, centré sur les processus d'innovation organisationnelle. Il est devenu une référence incontournable dans l’analyse des évolutions du travail et des organisations, notamment en lien avec les technologies de l'information.">
<meta name="keywords" content="lentic, ulg, tic, innovation, technologies, recherche, organisation, flexicurité, évolution, travail, publications, e-projets,  conduite du changement, traduction, Région wallonne, universite, hec, liege, analyse prospective, changement">
</head>
<body link="#800000" vlink="#800000" alink="#800000">

<div align="center">
  <table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="770" id="table1" bordercolor="#336699">
    <tr>
      <td valign="top">
      <div align="center">
        <table border="0" cellpadding="0" style="border-collapse: collapse" width="770" id="table2">
          <tr>
            <td height="19" bgcolor="#B8BCC4" width="484">&nbsp;</td>
            <td colspan="2" height="19" bgcolor="#B8BCC4">
            <table border="0" cellpadding="2" style="border-collapse: collapse" width="100%" id="table8">
              <tr>
                <td>
                <p align="right"><font face="Verdana" size="1" color="#336699">
                <b>LENTIC - 
                  Université de Liège&nbsp;</b></font></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="115" colspan="3">
            <table border="0" cellpadding="0" style="border-collapse: collapse" width="100%" id="table3">
              <tr>
                <td width="452" bgcolor="#FFFFFF" height="115">
                <img border="0" src="../../images/logopredpointcorrige.jpg" width="267" height="120"></td>
                <td valign="top" bgcolor="#FFFFFF" height="115">
                <table border="1" cellpadding="6" style="border-width:0px; border-collapse: collapse" width="100%" id="table4">
                  <tr>
                    <td style="border-style: none; border-width: medium">
                    <p align="right">
                    <font face="Verdana" size="1" color="#336699">Boulevard du Rectorat, 19 - B 51 
                    <br>4000 Sart Tilman <br>Belgique </font></p>
                    <p align="right">
                    <font size="1" face="Verdana" color="#336699">Tél. : +32 4 366 
                  30 70 <br>Fax. : +32 4 366 29 47 <br>
                  Email : 
                    lentic@ulg.ac.be<a href="mailto:info@lentic.be"></a>                    </font></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="115" colspan="2" valign="top">
                <div align="center">
                  <table border="0" cellpadding="0" style="border-collapse: collapse" width="100%" id="table13" height="204">
                    <tr>
                      <td width="256" height="182" style="border-top-style: solid; border-top-width: 1px">
                      <map name="FPMap0">
                      <area href="../anmviewer.asp?a=97&z=47" shape="rect" coords="48, 14, 170, 42">
                      <area href="../anmviewer.asp?a=93&z=44" shape="rect" coords="47, 45, 172, 76">
                      <area href="../anmviewer.asp?a=98&z=49" shape="rect" coords="47, 76, 171, 102">
                      <area href="../../absoluteig/gallery.asp" shape="rect" coords="49, 102, 172, 132">
                      <area href="../anmviewer.asp?a=92&z=51" shape="rect" coords="49, 134, 174, 166">
                      <area href="http://www.lentic.be" shape="rect" coords="187, 15, 241, 61">
                      <area href="http://www.lentic.be/plan.htm" shape="rect" coords="188, 65, 241, 112">
                      <area href="mailto:Lentic@ulg.ac.be" shape="rect" coords="190, 119, 242, 167">
                      </map>
                      <img border="0" src="../../images/menusite.jpg" width="256" height="182" usemap="#FPMap0"></td>
                      <td width="514" height="182" background="../../images/dessin_lentic_web_grey.jpg" style="border-top-style: solid; border-top-width: 1px; border-bottom-style: solid; border-bottom-width: 1px">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="256" height="22" style="border-top-style: solid; border-top-width: 1px; border-right-style:none; border-right-width:medium" bgcolor="#6D7585">&nbsp;
                      </td>
                      <td width="514" height="22" style="border-bottom-style: none; border-bottom-width: medium; border-left-style:none; border-left-width:medium; border-right-style:none; border-right-width:medium" bgcolor="#6D7585">
                      <table border="0" cellpadding="4" style="border-collapse: collapse" width="100%" id="table17">
                        <tr>
                          <td>
                          <p align="left"><span lang="fr-be"><b>
                          <font size="2" face="Verdana" color="#FFFFFF">// LES 
                          AXES DE RECHERCHE</font></b></span></td>
                        </tr>
                      </table>
                      </td>
                    </tr>
                  </table>
                </div>
                </td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td colspan="3" valign="top">
            <table border="0" cellpadding="5" style="border-collapse: collapse" width="100%" id="table9">
              <tr>
                <td width="256" bgcolor="#EFEEE9" valign="top">
                <table border="0" cellpadding="4" style="border-collapse: collapse" width="100%" id="table15">
                  <tr>
                    <td>&nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td valign="top">
                    <div align="center">
                      <table border="1" cellpadding="6" style="border-collapse: collapse" width="80%" id="table18" bgcolor="#FFFFFF" bordercolorlight="#C0C0C0" bordercolordark="#808080" bordercolor="#808080">
                        <tr>
                          <td style="border-style: solid; border-width: 1px">
                          <script language="JavaScript" src="http://www.lentic.be/anm/xlaabsolutenm.asp?z=46&font=verdana&size=1"></script>
                   		</td>
                        </tr>
                        <tr>
                          <td style="border-left:1px solid #C0C0C0; border-right:1px solid #808080; border-top-style:solid; border-top-width:1px">
                  <span lang="fr-be"> <form name="form2" method="post" action="../PPL.search2.asp">
                    <div align="center"><font face="Verdana" size="1">Rechercher 
                      sur le site :<br>
&nbsp;<input type="text" name="search" size="17">
                      <input type="submit" name="Submit1" value="&gt;&gt;" style="color: #000000; font-family: Arial; font-size: 8pt; background-color: #FFFFFF">
                      </font></div>
                  </form></td>
                        </tr>
                      </table>
                    </div>
                    </td>
                  </tr>
                </table>
&nbsp;</td>
                <td bgcolor="#FFFFFF" width="494" valign="top">
                <table border="0" cellpadding="6" style="border-collapse: collapse" width="100%" id="table16">
                  <tr>
                    <td>
                        <span lang="fr-be"><b>
                        <font face="Verdana" size="4" color="#B30722">
                        $$HEADLINE$$</font></b></span></td>
                  </tr>
                  <tr>
                    <td><b><span lang="fr-be">
                    <font face="Verdana" size="2" color="#999999">$$SUMMARY$$</font></span></b><p>
                    <font face="Verdana" size="1"><span lang="fr-be">
                    $$ARTICLE$$</span></font></td>
                  </tr>
                  <tr>
                    <td>
                    <table border="0" cellpadding="2" style="border-collapse: collapse" width="100%" id="table19" bgcolor="#EFEEE9">
                      <tr>
                        <td width="50%" style="border-right-style: solid; border-right-width: 1px">
                        <font face="Verdana" size="1">$$LINKS$$</font></td>
                        <td width="50%" style="border-left-style: solid; border-left-width: 1px">
                        <font face="Verdana" size="1">$$FILES$$</font></td>
                      </tr>
                    </table>
                    </td>
                  </tr>
                </table>
                </td>
                <td bgcolor="#EFEEE9">&nbsp;
                </td>
              </tr>
              </table></td>
          </tr>
          <tr>
            <td height="25" bgcolor="#B8BCC4" colspan="2">
            <table border="0" cellpadding="6" style="border-collapse: collapse" width="99%" id="table5">
              <tr>
                <td>
                <!--webbot bot="Include" U-Include="../inc/menubas.htm" TAG="BODY" startspan -->

<p><font face="Verdana" size="1">
<a href="http://www.lentic.be/anm/anmviewer.asp?a=97&z=47">
<span style="text-decoration: none"><font color="#000000">Missions</font></span></a> <span lang="fr-be">|</span> 
<a href="http://www.lentic.be/anm/anmviewer.asp?a=93&z=44">
<font color="#000000"><span style="text-decoration: none">Axes de recherche</span></font></a> 
                <span lang="fr-be">|</span> 
<a href="http://www.lentic.be/absoluteig/gallery.asp">
<font color="#000000"><span style="text-decoration: none">Ressources</span></font></a> <span lang="fr-be">|</span> 
              <a href="http://www.lentic.be/anm/anmviewer.asp?a=92&z=51">
<font color="#000000"><span style="text-decoration: none">Équipe</span></font></a> <span lang="fr-be">|</span> 
<a href="mailto:lentic@ulg.ac.be"><font color="#000000">
<span style="text-decoration: none">Contact</span></font></a> <span lang="fr-be">|</span> 
<a href="http://www.lentic.be/plan.htm"><font color="#000000">
<span style="text-decoration: none">Plan du site</span></font></a> </font></p>

<!--webbot bot="Include" i-checksum="28933" endspan --></td>
              </tr>
            </table></td>
            <td height="25" width="286" bgcolor="#B8BCC4">
            <table border="0" cellpadding="0" style="border-collapse: collapse" width="100%" id="table6">
              <tr>
                <td>
                <p align="right"><span lang="fr-be">
                <font face="Verdana" size="1">© LENTIC - 2004
                <img border="0" src="../../images/ulg40px.gif" width="40" height="28" align="absmiddle"></font></span></td>
              </tr>
            </table></td>
          </tr>
        </table>
      </div>
      </td>
    </tr>
  </table>
</div>

</body>

</html>