/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

/*$bleu: #3A96D3;
$jaune: #F1C40E;
$orange: #E77D21;
$rouge: #DB402F;*/

$jaune: #D3D500; //vert
$bleu: #00A3CC;
$orange: #EBA21C;
$rouge: #BA0C7B; //mauve
$gris: #444444;

/* ==========================================================================
   NORMALIZE
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0;
}
a {
    background: transparent;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    /*margin: 0.67em 0;*/
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}
button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   NORMALIZE
   ========================================================================== */
   
html{
 // background: url(../img/grille.png) fixed center 0 ;
 
}

body {
  //background: url(../img/greyzz.png);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 1em;
}

h1{
  font-size: 1.602em;
  color: $rouge;
}

h2{
  font-size: 1.424em;
  color: $rouge;
}

h3{
  font-size: 1.266em;
}

h4{
  font-size: 1.125em;
}

p{
  font-size: 1em;
  color: $gris;
}

.title{
  margin: 50px 0 30px;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
   
#firstline{
    width: 960px;
    margin: 1.4em auto;
    overflow: hidden;
    
    img{
        float: left;
    }
    form{
        display: inline-block;
        margin-right: 0px;
    }
    ul{
        float: left;
        margin-top: 40px;
        margin-left: 40px;
        li{
            display: inline;
            a{
              text-decoration: none;
              color: $bleu;
              font-weight: bold;
              font-size: 1.2em;
            }
            a:hover{
                color: $orange;
                
            }
        }
    } 
}

#search{ 
  font-size: 1em;
  height: 50px;
  padding: 0 186px 0 11px;
  margin-top: 25px;
  margin-left: 40px;
  @include border-radius;
  border: 1px solid #cecece;
  color: $bleu;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#sub{
  background-image: url("../img/loupe.png");
  background-size:24px 24px;
  background-color: $bleu;
  background-position: 13px center;
  background-repeat: no-repeat;
  color: white;
  margin: 10px 0 0 -60px;
  font-size: 18px;
  height: 40px;
  padding: 0 22px 0px 22px;
  @include border-radius;
  border: 0 none;
}

#sub:hover{
    background-color: $rouge;
}

#nav{
  width: auto;
  background-color: $bleu;
  ul{
  overflow: hidden;
  width: 960px;
  margin: 1em auto 0em;
  overflow: hidden;
  padding: 0;
    li{
      float: left;
      margin-left: 34px;
      padding: 1.5em 0;
      list-style-type: none;
      a{
          font-size: 1.5em;
          text-decoration: none;
          color: white;
        }
      a:hover{
          color: $jaune;
        }
    }
    li:first-child{
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 959px), screen and (max-device-width: 959px){
  #firstline{
    text-align: center;
    width: auto;
    a{
      
      text-align: center;
      img{
        float: left;   
        padding-left: 20px;
      }
    }
    ul{
      margin-left: 60px;
    }
    form{
      
      text-align: center;  
      #search{
        margin-left: 20px;
        padding: 0 100px 0 11px;
      }
    }
  }
  #nav{
    ul{
      width: auto;
      text-align: center;
      li{
        width: 33%;
        display: inline-block;
        float: none;
        margin: 0;
        padding: 1em 0;
        border-bottom: 1px dashed $jaune;
        }
    }
  }
}


@media screen and (max-width: 800px), screen and (max-device-width: 800px) and (orientation : portrait){
 #firstline{
    width: auto;
    text-align: center;
    a{
      display: block;
      text-align: center;
      img{
        float: left;   
        padding: 20px 0px 0px 20px;
      }
    }
    ul{
      margin-top: 30px;
      float: none;
      text-align: center;
      margin-left: 0;
      li a{
        display: inline;
      }
    }
    form{
      display: block;
      text-align: center;  
      #search{
        margin-left: 0;
        padding: 0 100px 0 11px;
      }
    }
  }
  #nav{
    ul{
      width: auto;
      text-align: center;
      li{
        width: 49.6%;
        display: inline-block;
        float: none;
        margin: 0;
        padding: 1em 0;
        border-bottom: 1px dashed $jaune;
        }
    }
  }
}
@media only screen and (max-width: 599px), only screen and (max-device-width: 599px){
  #firstline{
    width: auto;
    a{
      display: block;
      text-align: center;
      img{
        float: none;   
        padding: 0;
      }
    }
    ul{
      margin-top: 30px;
      float: none;
      text-align: center;
      margin-left: 0;
      li a{
        display: inline;
      }
    }
    form{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      #search{
        margin-left: 0;
        padding: 0 100px 0 11px;
      }
    }
  }
  #nav{
    ul{
      width: auto;
      text-align: center;
      li{
        width: 100%;
        float: none;
        margin: 0;
        padding: 1em 0;
        border-bottom: 1px dashed $jaune;
        }
    }
  }
}




/* ==========================================================================
   HEADER
   ========================================================================== */
   
   /* ==========================================================================
   SLIDESHOW
   ========================================================================== */
   
#slide{
  width: 100%;
  height: 500px;
  overflow:hidden;
  border-bottom: 3px solid $jaune;
  border-top: 3px solid $jaune;
  div{
      -webkit-background-size: cover; 
      -moz-background-size: cover; 
      -o-background-size: cover; 
      background-size: cover; 
      position: relative;
      z-index: 1;
      width: 100%;
      height: 500px;
  }
  figcaption{
      background-color: rgba(255,255,255,0.9);
      padding: 20px;
      display: inline-block;
      width: 500px;
      margin: 200px 0 50px 98px;
      p:first-child{
          color: $orange;
          font-size: 1.8em;
          padding-top: 0px;
          padding-bottom: 15px;
          border-bottom: 1px dashed $bleu;
          
      }
      p{
        font-size: 0.9em;
        padding-top: 10px;
        
        
      }
  }
}

#slide1{
  background: url(../img/slide1.jpg) no-repeat center 25%; 
}

#slide2{
  background: url(../img/slide2.jpg) no-repeat center 25%; 
}

#slide3{
  background: url(../img/slide3.jpg) no-repeat center 25%; 
}

@media only screen and (max-width: 599px), only screen and (max-device-width: 599px){
  #slide{
    display: none;
  }
}

/* ==========================================================================
   SLIDESHOW
   ========================================================================== */
   
   /* ==========================================================================
   INFOS
   ========================================================================== */
   
.secinfos{
  
  width: 100%;
  margin: 0px auto;
  padding: 50px 0;
  overflow: hidden;
}

.infoslentic{
    margin: 0 auto;
    color: $rouge;
    width: 960px;
    .infosdiv{
        display: inline-block;
        float: left;
        width: 31%;
        padding-right: 33px;
        img{
        float: left;
        padding-right: 0.5em;
        }
        h1{
          margin: 0.2em 0;
        }
        p{
            
            padding: 20px 0px;
        }
    }
}

.infoslentic div:last-child{
  padding-right: 0px;
}

@media screen and (max-width: 959px), screen and (max-device-width: 959px){
  .secinfos{
  padding: 20px 0;
  .infoslentic{
    width: 100%;
    text-align: center;
    .infosdiv{
      float: none;
      text-align: left;
      padding: 10px 10px;
      width: auto;
      img{
        padding-right: 0.5em;
      }
      h1{
        margin: 0.2em 0;
      }
      p{
        padding: 20px 0px;
      }
    }
  }
  }
}


@media only screen and (max-width: 599px), only screen and (max-device-width: 599px){
  .secinfos{
  padding: 20px 0;
  .infoslentic{
    width: 100%;
    text-align: center;
    .infosdiv{
      float: none;
      text-align: left;
      padding: 10px 10px;
      img{
        padding-right: 0.5em;
      }
      h1{
        margin: 0.2em 0;
      }
      p{
        padding: 10px 0px;
      }
    }
  }
  }
}

/* ==========================================================================
   INFOS
   ========================================================================== */
   
   /* ==========================================================================
   CONFERENCE
   ========================================================================== */

.secconf{
  background-color: #FAFAFA;
    
}

.infosconf{
    
    width: 960px;
    margin: 0 auto;
    padding: 50px 0px;
    img{
        padding-right: 0.5em;
        float: left;
      }
    h1{
        color: $rouge;
        margin: 0.2em 0;
        text-align: left;
        display: inline-block;
    }
    time{
      color: $rouge;
       font-size: 1.4em;
       display: inline-block;
       padding-left: 420px;
      }
    .titre{
      padding: 20px 0 10px;
      font-style: normal;
      font-weight: bold;  
      color: $gris; 
    }
    .lab{
        padding: 5px 0; 
        color: $gris; 
    }
    a{
        background-color: $rouge;
        border-radius: 3px;
        color: white;
        font-weight: bold;
        padding: 10px 363px;
        
        text-decoration: none;
        
    }
    a:hover{
        background-color: $bleu;
    }
}

@media only screen and (max-width: 959px), only screen and (max-device-width: 959px){
  .secconf{
  .infosconf{
    width: auto;
    padding: 20px 0;
    .infosdivconf{
      display:block;
      width: auto;
      text-align: right;
      padding: 10px 10px;
      overflow: hidden;
      img{
        padding-right: 0.5em;
        float: left;
      }
      h1{
        margin: 0.5em 0;
        text-align: left;
        display: block;
      }
      time{
       font-size: 1.4em;
       display: block;
       padding: 10px 0px;
       display: block;
      }
      p{
        text-align: left;
      }
      div{
        width: 100%;
        text-align: center;
        a{
          padding: 10px;
        }
      }
    }
  }
  }
}

@media only screen and (max-width: 599px), only screen and (max-device-width: 599px){
  .secconf{
  .infosconf{
    //width: 100%;
    padding: 20px 0;
    .infosdivconf{
      display:block;
      width: auto;
      text-align: right;
      padding: 10px 10px;
      overflow: hidden;
      img{
        padding-right: 0.5em;
        float: left;
      }
      h1{
        font-size: 1.59em;
        margin: 0.2em 0;
        text-align: left;
      }
      time{
       font-size: 1.2em;
       display: block;
       padding: 10px 0px;
      }
      p{
        text-align: left;
      }
      div{
        width: 100%;
        text-align: center;
        a{
          
        }
      }
    }
  }
  }
}

/* ==========================================================================
   CONFERENCE
   ========================================================================== */
   
   /* ==========================================================================
   FOOTER
   ========================================================================== */
   
   footer{
       width: 100%;
       background-color: $bleu;
       border-top: 3px solid $jaune;
   }

   .seccoord{
     width: 960px;
     margin: 0 auto;
     text-align: center;
     overflow: hidden;
     #gmap{
       padding-top: 20px;
       
      img{
        width: 620px;
        height: 415px;
        margin-left: 80px;
        border: 5px solid white;
      }
      
     }
     .infoscoord>a img{
        border: 3px solid white;
      }
     .infosdiv3{
        padding: 20px 0px;
        text-align: left;
         float: left;
        img{
          vertical-align: top;
          padding-right: 0.5em;
        }
        h1{
          margin: 0.3em 0;
          color: white;
          display: inline-block;
          padding-bottom: 0.5em;
        }
        p{
          color: white;
          a{
            text-decoration: underline;
          }
        }
        a{
          color: white;
          text-decoration: none;
        }
        .navbas{
            padding-top: 20px;
            li{
              border-bottom: 1px dashed $jaune;
              padding: 10px 0px;
              a{
                color: white;
              }
              a:hover{
                color: $jaune;
              }
            }
        }
      }
     #signature{
       display: inline-block;
       width: 100%;
       a{
        display:inline-block;
         padding: 10px 0;
         font-size: 1em;
         text-decoration: none;
         color: white;
         img{
           vertical-align: top;
           padding-right: 5px;
         }
       }
     }
   }

@media screen and (max-width: 959px), screen and (max-device-width: 959px){
  .seccoord{
     width: auto;
     margin: 0 auto;
     text-align: center;
     overflow: hidden;
     #gmap{
       padding-top: 20px;
       
      img{
        width: auto;
      }
     }
   }
}

@media only screen and (max-width: 599px), only screen and (max-device-width: 599px){
  .seccoord{
    width: 100%;
    .infoscoord{
      
      text-align: center;
      #gmap{
       height: 300px;
       width: 100%;
       
       img{
        width: 100%;
        height: 100%;
        margin-left: 0;
        
      }
      }
      .infosdiv3{
        padding: 20px 30px;
        text-align: center;
        float: none;
        
        img{
          vertical-align: top;
          padding-right: 0.5em;
        }
        h1{
          margin: 0.2em 0;
          color: white;
          display: inline-block;
          padding-bottom: 0.5em;
        }
        p{
          color: white;
        }
        a{
          color: $jaune;
          text-decoration: none;
        }
        .navbas{
          display: none;
        }
      }
      #signature{
        font-size: 0.7em;
        text-align: center;
      }
    }
    
  }
}
  /* ==========================================================================
   FOOTER
   ========================================================================== */
   
    /* ==========================================================================
   Axes de recherche
   ========================================================================== */

.mainTitle{
    h1{
    text-align: center;
    }
  }
  .axes{
  width: auto;
  padding: 20px 0;
  overflow: hidden;
  .axesDiv{
    width: 960px;
      margin: 0 auto;
    padding: 10px 10px;
    margin: 0px auto;
    h2{
    text-align: center;
    padding-top: 20px;
    }
    p{
      margin: 30px 0px;
      font-weight: bold;
    }
    ul{
      padding: 0px 0px;
      margin-bottom: 30px;
      color: $gris;
      li{
        margin-bottom: 10px;
        list-style-type: disc;
      }
    }
  }
  }
  .axes:nth-child(even){
    background-color: #FAFAFA;
    .left{
    width: 40%;
    float: left;
    text-align: center;
    h2{
      margin-bottom: 30px;
    }
  }
  
  .right{
    width: 48%;
    float: left;
    margin-right: 70px;
  }
  }

  .axes:nth-child(odd){
    .left{
    width: 40%;
    float: left;
    margin-right: 110px;
    text-align: center;
    h2{
      margin-bottom: 20px;
    }
  }
  
  .right{
    width: 48%;
    float: left;
  }
  }

  

  .pfin{
    width: 960px;
      margin: 0 auto;
    padding: 30px 10px;
    color: $gris;
    -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
  }
@media only screen and (max-width: 959px), only screen and (max-device-width: 959px){
  .mainTitle{
    width: auto;
    border-bottom: 5px solid $jaune;
    h1{
      width: auto;
    text-align: center;
    color: $orange;
    padding: 30px 30px;
    }
  }
  .axes{
  width: auto;
  border-bottom: 5px solid $jaune;
  overflow: hidden;
  .axesDiv{
    width: auto;
    padding: 10px 10px;
    margin: 0px auto;
    h2{
    
    color: $rouge;
    text-align: center;
    padding-top: 20px;
    float: none;
    width: auto;
    }
    p{
      width: auto;
      float: none;
      margin: 30px 0px;
      
    }
    ul{
      width: auto;
      float: none;
      padding: 0px 30px;
      margin-bottom: 30px;
      color: $bleu;
      li{
        margin-bottom: 10px;
        list-style-type: disc;
      }
    }
  }
  }
  .pfin{
    width: auto;
    padding: 30px 10px;
    color: $bleu;
    -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1;
  }
}

 /* ==========================================================================
   Axes de recherche
   ========================================================================== */
   
    /* ==========================================================================
   Missions et projets 
   ========================================================================== */
   
.secmiss{
    width: 960px;
    margin: 0 auto;
      h1{
        text-align: center;
      }
      em{
            font-weight: bold;
          }
      .menu2{
        margin-top: 20px;
        background-color: $rouge;
        li{
          background-image: url('../img/arrow.png');
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: right center;
          padding: 0.5em 0;
          border-bottom: 1px dashed white;
          a{
            display: block;
            font-size: 1.2em;
            text-decoration: none;
            color: white;
            padding-left: 10px;
          }
        }
        li:last-child{
          border-bottom: none;
        }
      }
      h2{
        text-align: center;
      }
      article{
        -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
          p{
            padding-bottom: 20px;
          }
          
        h1{
          text-align: center;
          color: $rouge;
          margin-bottom: 0px;
        }
        ul{
          color: $gris;
          
        }
        li{
          margin-top: 10px;
          list-style-type: disc;
          
        }
      }
      aside{
        h2{
          text-align: center;
        }
        .menu3{
          
          margin: 20px 0px;
          
        li{
          background-image: url('../img/arrow.png');
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: right center;
          background-color: $rouge;
          padding: 0.5em 0;
          border-bottom: 1px dashed $orange;
          
          a{
            display: block;
            font: 0.9em;
            text-decoration: none;
            color: white;
            padding: 10px 30px;
          }
        }
        li:nth-child(3){
          border-bottom: none;
        }
        .lienfin{
          background-image: none;
          background-color: $orange;
            color: white;
            padding: 20px 0;
            text-align: center;
            a{
              display: inline;
              color: white;
            }
          }
      }
      }
    }

  @media only screen and (max-width: 959px), only screen and (max-device-width: 959px){
    .secmiss{
      width: auto;
      padding: 10px 10px;
      color: $bleu;
      p{
        padding-top: 20px;
      }
      .menu2{
        margin-top: 20px;
        
        li{
          background-image: url('../img/arrow.png');
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: right center;
          padding: 0.5em 0;
          
          a{
            display: block;
            font-size: 1.2em;
            text-decoration: none;
            
            padding-left: 10px;
          }
        }
      }
      article{
        -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1;
        h1{
          text-align: center;
          color: $rouge;
          
          margin-bottom: 0px;
          padding-top: 20px; 
        }
      }
      aside{

        h2{
          text-align: center;
          color: $rouge;
          
          margin-bottom: 0px;
          padding-top: 30px; 
        }
        .menu3{
          
          margin: 20px 0px;
        li{
          background-image: url('../img/arrow.png');
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: right center;
          padding: 0.5em 0;
          border-bottom: 1px dashed $jaune;
          a{
            display: block;
            font: 0.9em;
            text-decoration: none;
            
            padding-left: 10px;
            padding-right: 30px;
          }
        }
        .lienfin{
          background-color: $orange;
          display: block;
          text-align: left; 
          
          }
      }
      }
    }
  }

     /* ==========================================================================
   Missions et projets 
   ========================================================================== */
   
      /* ==========================================================================
   Ressources 
   ========================================================================== */
   .secress{
      width: 960px;
      margin: 0 auto;
       h1{
         text-align: center;
       }
       p{
         
         padding-bottom: 10px;
       }
        .divcenter{
          width: auto;
          padding: 30px 0;
          li{
            width: 49%;
            display: inline-block;
          a{
            display: block;
            text-decoration: none;
            padding: 10px 0px;
           img{
             vertical-align: middle;
            padding-right: 0.5em;
            padding-bottom: 0.5em;
           }
           h2{
             display: inline-block;
             
             color: $bleu;
            }
          }
        }
       }
     }
   

   @media only screen and (max-width: 959px), only screen and (max-device-width: 959px){
     .secress{

      width: auto;
      padding: 10px 10px;
       h1{
         
         color: $rouge;
         text-align: center;
       }
       p{
         
         padding-bottom: 10px;
       }
        .divcenter{
          width: auto;
          
          li{
            width: 49%;
            display: inline-block;
          a{
            display: block;
            text-decoration: none;
            padding: 10px 0px;
           img{
             vertical-align: middle;
            padding-right: 0.5em;
            padding-bottom: 0.5em;
           }
           h2{
             display: inline-block;
             
             color: $bleu;
            }
          }
        }
       }
     }
   }

   @media only screen and (max-width: 599px), only screen and (max-device-width: 599px){
     .secress{
      padding: 10px 10px;
       h1{
         
         color: $rouge;
         text-align: center;
       }
       p{
         
         padding-bottom: 10px;
       }
       .divcenter{
         li{
        overflow: hidden;
        text-align: left;
        display: block;
        width: auto;
        a{
          display: block;
          text-decoration: none;
          padding: 10px 0px;
         img{
           vertical-align: middle;
          padding-right: 0.5em;
          padding-bottom: 0.5em;
         }
         h2{
           display: inline-block;
           
           color: $bleu;
           
         }
       }
       }
       }
       
     }
   }

   /* ==========================================================================
   Ressources 
   ========================================================================== */
   
   /* ==========================================================================
   EQUIPE
   ========================================================================== */
   .secequipe{
      width: 960px;
      margin: 0 auto;
       padding: 10px;
       
       h1{
         
         text-align: center;
         color: $rouge;
       }
       p{
         padding-top: 10px;
         
       }
       ul{
        padding-top: 30px;
        
         li{

          width: 49%;
          display: inline-block;
          padding-top: 20px;
          padding-bottom: 10px;
          overflow: hidden;
          border-bottom: 3px solid $jaune;
           a{
             display: block;
             text-decoration: none; 
           }
           figure{
             float: left;
             height: 120px;
             
             img{
               padding-right: 0.5em;
               
             }
           }
           
           h2{
             
             color: $rouge;
           }
           a:last-child{
             color: $rouge;
             text-decoration: underline;
           }
         }
         li:last-child{
             border: none;
           }
         
       }
     }

   @media only screen and (max-width: 959px), only screen and (max-device-width: 959px){
     .secequipe{
      width: auto;
       padding: 10px;
       h1{
         
         text-align: center;
         color: $rouge;
       }
       p{
         padding-top: 10px;
         
       }
       ul{
        padding-top: 10px;
        
         li{
          width: 49%;
          display: inline-block;
          padding-top: 20px;
          padding-bottom: 10px;
          overflow: hidden;
          border-bottom: 5px solid $jaune;
           a{
             display: block;
             text-decoration: none; 
           }
           figure{
             float: left;
             height: auto;
             
             img{
               padding-right: 0.5em;
               
             }
           }
           h2{
             
             color: $rouge;
           }
           a{
             color: $orange;
           }
         }
       }
     }
   }

   @media only screen and (max-width: 599px), only screen and (max-device-width: 599px){
     .secequipe{
      width: auto;
       padding: 10px;
       h1{
         
         text-align: center;
         color: $rouge;
       }
       p{
         padding-top: 10px;
         
       }
       ul{
        padding-top: 10px;
         li{
          width: auto;
          display: block;
          padding-top: 20px;
          padding-bottom: 10px;
          overflow: hidden;
          border-bottom: 5px solid $jaune;
           a{
             display: block;
             text-decoration: none; 
           }
           figure{
             float: left;
             
             
             img{
               padding-right: 0.5em;
               
             }
           }
           h2{
            
             color: $rouge;
           }
           a{
             color: $orange;
           }
         }
       }
     }
   }

   /* ==========================================================================
   EQUIPE
   ========================================================================== */
   
   /* ==========================================================================
   Contact
   ========================================================================== */
   .seccontact{
    width: 960px;
    margin: 0 auto;
       h1{
         
         text-align: center;
         color: $rouge;
         padding: 20px 0px;
       }
       form{
        width: auto;
         .contactleft{
           margin-left: 15px;
         }
         .forminput:nth-child(-n+4){
          display: inline-block;
          width: 49%;
          padding-bottom: 25px;
           label{
            display: block;
             width: 90%;
             
             color: $bleu;
             font-weight: bold;
           }
           input{
            
             display: block;
             font-size: 1em;
             height: 30px;
             width: 100%;
             
             @include border-radius;
             border: 1px solid $bleu;
             color: $orange;
             -webkit-appearance: none;
             -webkit-box-shadow: none;
             box-shadow: none;
           }
         }
         .formtext{
           padding-bottom: 25px;
           label{
            display: block;
             width: 100%;
             margin: 0 auto;
             color: $bleu;
             font-weight: bold;
           }
           textarea{
          
             display: block;
             font-size: 1em;
             height: 150px;
             width: 100%;
             margin: 0 auto;
             @include border-radius;
             border: 1px solid $bleu;
             color: $orange;
             -webkit-appearance: none;
             -webkit-box-shadow: none;
             box-shadow: none;
           }
         }
         .formsub{
          padding-bottom: 20px;
           input{
             background-color: $rouge;
             display: block;
             font-size: 1.3em;
             height: 50px;
             width: 100%;
             margin: 0 auto;
             @include border-radius;
             border: none;
             color: white;
           }
           input:hover{
             background-color: $bleu;
           }
         }
       }
     }
   

   @media only screen and (max-width: 959px), only screen and (max-device-width: 959px){
     .seccontact{
      width: auto;
       h1{
         
         text-align: center;
         color: $rouge;
         padding: 20px 0px;
       }
       form{
        width: auto;
        .contactleft{
           margin-left: 0;
         }
         .forminput:nth-child(-n+4){
          display: inline-block;
          width: 49%;
          padding-bottom: 25px;
           label{
            display: block;
             width: 90%;
             margin: 0 auto;
             color: $bleu;
             font-weight: bold;
           }
           input{
            
             display: block;
             font-size: 1em;
             height: 30px;
             width: 90%;
             margin: 0 auto;
             @include border-radius;
             border: 1px solid $bleu;
             color: $orange;
             -webkit-appearance: none;
             -webkit-box-shadow: none;
             box-shadow: none;
           }
         }
         .formtext{
           padding-bottom: 25px;
           label{
            display: block;
             width: 94%;
             margin: 0 auto;
             color: $bleu;
             font-weight: bold;
           }
           textarea{
          
             display: block;
             font-size: 1em;
             height: 150px;
             width: 94%;
             margin: 0 auto;
             @include border-radius;
             border: 1px solid $bleu;
             color: $orange;
             -webkit-appearance: none;
             -webkit-box-shadow: none;
             box-shadow: none;
           }
         }
         .formsub{
          padding-bottom: 20px;
           input{
             background-color: $bleu;
             display: block;
             font-size: 1.3em;
             height: 50px;
             width: 90%;
             margin: 0 auto;
             @include border-radius;
             border: none;
             color: white;
             
           }
         }
       }
     }
   }
   
   @media only screen and (max-width: 599px), only screen and (max-device-width: 599px){
     .seccontact{
      width: auto;
       h1{
         
         text-align: center;
         color: $rouge;
         padding: 20px 0px;
       }
       form{
        width: auto;
         .forminput,.forminput:nth-child(-n+4){
          display: block;
          width: auto;
          padding-bottom: 25px;
           label{
            display: block;
             width: 90%;
             margin: 0 auto;
             color: $bleu;
             font-weight: bold;
           }
           input{
            
             display: block;
             font-size: 1em;
             height: 30px;
             width: 90%;
             margin: 0 auto;
             @include border-radius;
             border: 1px solid $bleu;
             color: $orange;
             -webkit-appearance: none;
             -webkit-box-shadow: none;
             box-shadow: none;
           }
         }
         .formtext{
           padding-bottom: 25px;
           label{
            display: block;
             width: 90%;
             margin: 0 auto;
             color: $bleu;
             font-weight: bold;
           }
           textarea{
          
             display: block;
             font-size: 1em;
             height: 150px;
             width: 90%;
             margin: 0 auto;
             @include border-radius;
             border: 1px solid $bleu;
             color: $orange;
             -webkit-appearance: none;
             -webkit-box-shadow: none;
             box-shadow: none;
           }
         }
         .formsub{
          padding-bottom: 20px;
           input{
             background-color: $bleu;
             display: block;
             font-size: 1.3em;
             height: 50px;
             width: 90%;
             margin: 0 auto;
             @include border-radius;
             border: none;
             color: white;
             
           }
         }
       }
     }
   }